
  /* Header Ends Here!*/
  
  
  /* Footer Starts Here! */
  footer {
    background: #5d5c61;
    width: 100%;
    padding: 40px 35px;
    position:absolute;
    bottom: 0;
    float: bottom;
    display: flex;
    justify-content: flexwrap;
    
  }
  footer h2 {
    display:
    color: rgb(202, 153, 161);
    font-size: 30px;
    margin: 0;
    position:absolute;
    bottom: 0;
  
  }
  footer div {
   
    line-height: 1.5;
    color: rgb(202, 153, 161); 
    position:absolute;
    bottom: 0;
    
  }
  /* Footer Ends Here! */
  
  /* Box designs*/
  .workreport {
    padding: 20px;
    background: #5d5d5d;
    width: 500px;
    border-style: solid;
    border: width 3px;
    border-color: #024e76;
    position: absolute;
    top: 30%;
    left: 20px; 
    display: flex; flex-direction: column;
  }
  
  .ledwall {
    padding: 20px;
    background: #5d5d5d;
    width: 500px;
    border-style: solid;
    border: width 3px;
    border-color: #024e76;
    position: absolute;
    top: 50%;
    left: 20px;
    display: flex; flex-direction: column;
  }
  
  .military {
    padding: 20px;
    background: #5d5d5d;
    width: 500px;
    border-style: solid;
    border: width 3px;
    border-color: #024e76;
    position: absolute;
    top: 73%;
    left: 20px;
    display:flex; flex-direction: column;
    align-content: stretch;
  }
  
  .hero-cta {
    padding: 20px;
    background: #5d5d5d;
    width: 500px;
    border-style: solid;
    border: width 3px;
    border-color: #024e76;
    position: absolute;
    top: 10%;
    left: 1000px;
    display: flex; flex-direction: column;
  }
  
  
  
  
  
  
  
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {}
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {}
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {}
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {}
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}