.navbar {
  margin-bottom: 0;
  border-radius: 0;
  text-decoration: none;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}


 /*Start of the jumbotron */

.jumbotron {
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 40px;
  height: 150px;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

/*vertical line
border-top-right-radius: 6px solid green;
height: 500px;}*/

.bg-info {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

}

/*This column aligns the images from left to right*/

  .footer {
    color:grey;
    padding: 155px;
  }


 