.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  
}
.navbrand {
  padding: 60px;
}
.ledwall {
  position: absolute;
  text-align: center;
  color: black;
}
)
.jumbotron {
  color: blue;
  background-image: url("./images/blue-chevron-diagonal-striped-seamless-pattern-background-suitable-for-fashion-textiles-graphics-2E3XJDG.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


}
.row.content {height: 450px}
  
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }
   /* On small screens, set height to 'auto' for sidenav and grid */
   @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content (height:auto;)